<p style="color: green"><%= notice %></p>

<%= render @article %>

<div class= "container">
  <% if current_user == @article.user %>
    <%= link_to "Editar Articulo", edit_article_path(@article), id: "btns-main", class: "badge rounded-pill" %> 
     <br>
     <br>
     <%= button_to "Eliminar Articulo", @article, method: :delete, id: "btns-main", class: "badge rounded-pill" %>
  <% end %>  
  <br>
  <br>
  <%= link_to "Atras", articles_path, id: "btns-main", class: "badge rounded-pill" %>
</div>

