<p style="color: green"><%= notice %></p>

<%= render @article %>

<div class= "container">
  <% if current_user == @article.user %>
    <%= link_to "Editar Articulo", edit_article_path(@article), class: "badge rounded-pill text-bg-primary" %> 
     <br>
     <br>
     <%= button_to "Eliminar Articulo", @article, method: :delete, class: "badge rounded-pill text-bg-primary" %>
  <% end %>  
  <br>
  <br>
  <%= link_to "Atras", articles_path, class: "badge rounded-pill text-bg-primary" %>
</div>

